html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#lmap {
	height: 100%;
	width: 100%;
}

#num-geo {
	width: 100%;
}

.geo-button {
	background-image: url('images/spritesheet.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 18px;
	float: left;
}

.geo-button.geo-line {
	background-position: -9px -7px;
}

.geo-button.geo-poly {
	background-position: -38px -7px;
}

.geo-button.geo-point {
	background-position: -130px -7px;
}

.btn.group-sm > .btn {
	height: 14px;
}

#ontop {
	position: absolute;
	top: 10px;
	width: 100%;
	left: 0;
	z-index: 2;
}